.container {
  max-width: 960px;
  margin: 0 auto;

  .full-width {
    width: 100%;
  }
  .auto-width {
    width: auto;
  }
  .relative-pos {
    position: relative;
  }
  .list-foods {
    padding-top: 20px;
  }
  .table-align-left {
    td, th {
      text-align: left;
    }
  }
  .name-edit-link {
    color: $text-color-primary;
    transition: color 0.25s ease;
    &:hover {
      color: $text-link-color;
    }
  }
  .card-notice {
    border-radius: 2px;
    padding: 15px;
    background: unquote("rgba(#{$palette-light-blue-100}, 0.87)");
    li {
      color: unquote("rgb(#{$palette-light-blue-700})");
      font-size: $card-font-size;
    }
    &.card-notice-error {
      background: unquote("rgba(#{$palette-red-100}, 0.87)");
      li {
        color: unquote("rgb(#{$palette-red-700})");
      }
    }
    &.card-notice-success {
      background: unquote("rgba(#{$palette-light-green-100}, 0.87)");
      li {
        color: unquote("rgb(#{$palette-light-green-700})");
      }
    }
  }
  .button-float-top-right {
    position: absolute;
    top: 0px;
    right: 30px;
    z-index: 300;
  }
}