.layout-transparent {
  background: url('../img/backgroud-flower.jpg') center / cover;
  .mdl-layout__header, .mdl-layout__drawer-button, .home-link {
    color: white;
    text-decoration: none;
  }
  .user-button {
    height: 40px;
    min-width: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    @include shadow-2dp();
    .avatar-img {
      width: 40px;
      height: 40px;
    }
  }
  .user-menu {
    li {
      a {
        text-decoration: none;
        color: $layout-text-color;
      }
    }
  }
  .admin-button {
    margin-right: 15px;
  }
  
}

@media screen and (max-width: #{$layout-screen-size-threshold}) {
  .mdl-layout__header {
    display: block;
    &.mdl-layout__header--transparent {
      background-color: unquote("rgba(#{$palette-grey-800}, 0.3)");
      @include shadow-3dp();
    }
  }
  .mdl-layout__content {
    padding-top: 20px;
  }
}
